@font-face {
    font-family: 'KG Blank Space Solid Acentos OK';
    src: url('https://cdn.statically.io/gh/gloriablink/tekmanfonts/main/fonts/KGBlankSpaceSolidacentosok.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawlinson';
    src: url('https://cdn.statically.io/gh/gloriablink/tekmanfonts/main/fonts/Rawlinson-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rawlinson';
    src: url('https://cdn.statically.io/gh/gloriablink/tekmanfonts/main/fonts/Rawlinson.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawlinson';
    src: url('https://cdn.statically.io/gh/gloriablink/tekmanfonts/main/fonts/Rawlinson-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rawlinson';
    src: url('https://cdn.statically.io/gh/gloriablink/tekmanfonts/main/fonts/Rawlinson-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawlinson';
    src: url('https://cdn.statically.io/gh/gloriablink/tekmanfonts/main/fonts/Rawlinson-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawlinson';
    src: url('https://cdn.statically.io/gh/gloriablink/tekmanfonts/main/fonts/Rawlinson-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bulo Rounded';
    src: url('https://cdn.statically.io/gh/gloriablink/tekmanfonts/main/fonts/BuloRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bulo Rounded';
    src: url('https://cdn.statically.io/gh/gloriablink/tekmanfonts/main/fonts/BuloRounded-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bulo Rounded';
    src: url('https://cdn.statically.io/gh/gloriablink/tekmanfonts/main/fonts/BuloRounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Bulo Rounded';
    src: url('https://cdn.statically.io/gh/gloriablink/tekmanfonts/main/fonts/BuloRounded-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bulo Rounded';
    src: url('https://cdn.statically.io/gh/gloriablink/tekmanfonts/main/fonts/BuloRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pequena';
    src: url('https://cdn.statically.io/gh/gloriablink/tekmanfonts/main/fonts/Pequea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
