
#actividad{
    .carousel-inner .item-container {
        margin-bottom: 7rem;
        background-color: var(--slideBG);
        padding: 0.1rem 0 3rem 0;
        border-radius: 15px;
        box-shadow: none;
    }

} 