
:root {
    --main-bg-color: #EF7D40;
    --second-bg-color: #c86ece;
    --third-bg-color: #931094;
    --third-bg-color-opacity: #93109454;
    --foreground-text-color: lightgrey;
    --resources-bg-color: #AD6FAE;

    --slideBG: #fff;

    --primarycolor: #3A60AA;
    --azulcielo: #7ABDE9;
} 